{% extends "account/base.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>
<hr/>
<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|as_bootstrap }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="control-group">
      <label class="control-label" for="submit">
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </label>
      <div class="controls">
          <button type="submit" id="submit" class="btn">{% trans 'Sign Up' %}</button>
      </div>
  </div>

</form>


{% endblock %}

{% block javascript_user %}
<script>
$("#id_username").addClass("span3");
$("#id_email").addClass("span4");
$("#id_password1").addClass("span3");
$("#id_password2").addClass("span3");
</script>

{% endblock %}
