{% extends 'base.html' %}
{% load i18n %}
{% load url from future %} 
{% block content %}
<div class="row-fluid">
	<div class="span1"></div>
	<div class="span6">
				<div class="featured-wrapper featured-wrapper-left">
               <p><strong>Jazzpospolita </strong><br/> <small>TEKST</small></p>
            </div>
		<a href="" class=" muzyka thumbnail"> 
            <img
			src="{{MEDIA_URL}}img/2.jpg">
		</a>
	</div>
	<div class="span1">
			<div class="featured-wrapper featured-wrapper-center">
            </div>
    </div>
	<div class="span4">
			<div class="featured-wrapper featured-wrapper-right">
               <p><strong>Przedstawienie </strong><br/> <small>TEKST</small></p>
            </div>
		<div class="span11 pull-right">
                <a href="" class="thumbnail muzyka"> <img src="{{MEDIA_URL}}img/3.jpg">
			</a>
		</div>
	</div>

</div>
<div class="row-fluid">
	<div class="span11">
		<div class="span4">
		<div class="featured-wrapper featured-wrapper-down">
               <p><strong>Przedstawienie </strong><br/><small>Drobny opis</small></p>
            </div>
			<a href="" class="thumbnail muzyka"> <img src="{{MEDIA_URL}}img/warszawa.jpg">

			</a>
		</div>
		<div class="span4">
		<div class="featured-wrapper featured-wrapper-down">
               <p><strong>Coś z innej beczki </strong><br/> <small>TEKST</small></p>
            </div>
			<a href="" class="thumbnail muzyka"> <img src="{{MEDIA_URL}}img/warszawa.jpg">
			</a>
		</div>
		<div class="span4">
				<div class="featured-wrapper featured-wrapper-down">
               <p><strong>A tutaj też </strong><br/> <small>TEKST</small></p>
            </div>
			<a href="" class="thumbnail muzyka"> <img src="{{MEDIA_URL}}img/warszawa.jpg">
			</a>
		</div>
	</div>

</div>
<div class="row-fluid">
<div class="span12">
<h1>AKTUALNOŚCI</h1>
</div>
</div>
<div class="row-fluid">
<div class="span4">
<h3>WIADOMOŚĆ</h3>
<p>
Przedostatni tydzień sierpnia rozpoczniemy pod znakiem deszczowo – burzowej pogody. Przemieszczający się z zachodu chłodny front atmosferyczny przyniesie w dzielnicach centralnych i wschodnich gwałtowne burze i ulewny deszcz.

W poniedziałek upał da się we znaki jedynie w południowo – wschodniej części kraju. Na Podkarpaciu termometry wskażą jeszcze 33 st. We wtorek gorące zwrotnikowe powietrze zostanie wyparte poza naszą wschodnią granicę. W Polsce zrobi się od 5 do 8 st. chłodniej. Od środy co prawda powróci słoneczna pogoda ale temperatura powietrza nie wzrośnie więcej niż 27 st.
</p>
</div>
<div class="span4">
<h6>WIADOMOŚĆ</h6>
<p>

Przedostatni tydzień sierpnia rozpoczniemy pod znakiem deszczowo – burzowej pogody. Przemieszczający się z zachodu chłodny front atmosferyczny przyniesie w dzielnicach centralnych i wschodnich gwałtowne burze i ulewny deszcz.
<a href="" class="img_newsletter"><img class="thumbnail" src="/media/img/4.jpg"/><legend>@pysand</legend></a>
</p>

</div>
<div class="span3">
<h3>WIADOMOŚĆ</h3>
</div>
</div>
<ul>
	{% for performance in performances %}

	<li><a
		href="{% url 'django_theatre:performance_time' performance.slug %}">
		{{ performance.performance.name }}</a></li> {% endfor %}
</ul>

{% endblock %}
{% trans "Przedstawienia." %}

