{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="span1"></div>
    <div class="span6 article">
        <h2>{{ object.performance.name }}</h2>
        <p>
        {{ object.performance.description|linebreaksbr }}

</p>
</div>
<div class="span5 medias">
<img src="/media/img/dyptyk_sklejka.jpg" class="thumbnail"/>
<p class="teatr_performance {{ object.performance.genre.css_name }}">
{{ object.performance.genre.name|upper	 }}<br/>
{{ object.performance_date|date:"Y-m-d / H:m / F"|upper }}<br/>

<br/>

</p>
<p class="teatr_performance_payroll {{ object.performance.genre.css_name }}">
<b>SKŁAD:</b><br/>{{ object.performance.payroll|linebreaksbr }}
</p>
{% comments %}
<p class="teatr_performance_payroll {{ object.performance.genre.css_name }}">
<b>SPONSORZY:</b><br/>
<div class="row-fluid">
<div class="thumbnail span4 donator">
<img src="/media/img/donator/pge_4.png">
</div>
<div class="thumbnail span4 donator">
<img src="/media/img/donator/rl.png">
</div>
<div class="thumbnail span4 donator">
<img src="/media/img/donator/tvpkultra.png">
</div>
</div>
</p>
{% endcomment %}
</div>
</div>
{% endblock %}
