{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="span6">
        <h2>{{ object.performance.name }}</h2>
        <p>
        {{ object.performance.description|linebreaksbr }}

</p>
</div>
<div class="span6 medias">
<img src="/media/img/dyptyk_sklejka.jpg" class="thumbnail"/>
<p class="teatr_performance">
{{ object.performance.genre.name|upper	 }}<br/>
{{ object.performance_date|date:"Y-m-d / H:m / F"|upper }}<br/>

<br/>

</p>
<p class="teatr_performance_payroll">
<b>SKŁAD:</b><br/>{{ object.performance.payroll|linebreaksbr }}
</p>
</div>
</div>
{% endblock %}
