{% extends 'theatre_core/frontend/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}GALLERY{% endblocktrans %}{% endblock %}
{% block content %}

<div class="row-fluid">
    <div class="span12">
        <div class="article">{% trans 'GALLERY' %}</div>
    </div>
</div>
<div class="row">
{% for object in object_list %}
{% if forloop.counter0|divisibleby:"4" %}
</div><div class="row">
{% endif %}
<div class="span3">
    <a href="{{object.get_absolute_url }}" data-lightbox class="thumbnail">
        {{ object.photo_set.all|first }}
    {% for photo  in object.photo_set.all|slice:"1" %}
    <img src="{{photo.picture.url}}">
    {% endfor %}
    <label>{{ object.name|upper }}</label>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}
