{% extends 'theatre_core/backend/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans %}List Record{% endblocktrans %}{% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-hover">
    <legend>{% trans 'Performances Time list' %} / 
        <a href="{% url 'backend-performance-time-create' %}">
            <i class="icon-plus-sign"></i> 
            {% trans 'Add Performance Time' %}</a>
    </legend>
    <thead>
        <th>ID</th>
        <th>{% trans 'Name' %}</th>
        <th>{% trans 'Date' %}</th>
        <th>{% trans 'Time' %}</th>
        <th>{% trans 'Published' %}</th>
        <th>{% trans 'FrontPage' %}</th>
        <th>{% trans 'Event of Month' %}</th>
        <th>{% trans 'Go to URL' %}</th>
        <th>{% trans 'Edit' %}</th>
        <th>{% trans 'Delete' %}</th>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.performance.name }}</td>
        <td>{{object.performance_date|date:"Y-m-d" }}</td>
        <td>{{object.performance_date|date:"H:i" }}</td>
        <td>{{object.published|yesno }}</td>
        <td>{{object.frontpage|yesno }}</td>
        <td>{{object.event_of_month|yesno }}</td>
        <td><a href="{{ object.get_absolute_url }}">{{ object.get_absolute_url }}</a>
        <td><a class="btn btn-info" href="{% url 'backend-performance-time-update' object.id %}">
                <i class="icon-minus-sign"> </i> {% trans 'Edit' %}</a></td>
        <td><a class="btn btn-warning" href="{% url 'backend-performance-time-delete' object.id %}">
                <i class="icon-remove-sign"></i> {% trans 'Delete' %}</a></td>
    </tr>
    {% endfor %}



{% endblock %}
{% block js %}

{% endblock %}


