{% extends 'theatre_core/backend/base.html' %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}{% blocktrans %}Confirm record delete{% endblocktrans %}{% endblock %}
{% block content %}

<div class="span12"> 
    <form class="form-inline pagination-centered" role="form" action="." method="post">
    <legend>{% trans 'Delete Photo' %}</legend>
    {% csrf_token %} 
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{% trans 'Warning!' %}</strong> {% blocktrans %} Are your sure to delete this Record ? {% endblocktrans %}
    </div>
    <a href="{% url 'backend-performance-donor-list' %}" class="btn btn-primary">{% trans 'No' %}</a>
    <input type="submit" value="{% trans 'Yes' %}" class="btn btn-warning">
</div>
{% endblock %}
{% block js %}

{% endblock %}
