.genre {
    padding: 0px;
	margin: 0px;
}
.music {
	background-color: rgb(237, 178, 31);
}

.movie {
	background-color: rgb(258,32,56);
}
.meetings {
	background-color: rgb(0,85,155);
}
.education {
    background-color: rgb(177,97,17);
}
.theatre {
	background-color: rgb(0,126,122);
}
.genre p {
    position: relative;
	width: 88%;
	text-align: justify;
	overflow: hidden;
	z-index: 0;
	magrgin: 0px auto 0 auto;
}

.teatr_performance {
font-family:Lato;
font-size: 20px;
line-height: 30px;
font-weight: bold;
color: #fff;
padding: 5px;
}
.teatr_performance_payroll  {

line-height: 16px;
font-weight: light;
font-family:Lato;
font-size: 14px;
color: #fff;
padding: 5px;
}
.teatr_performance p {
	position: relative;
	width: 88%;
	text-align: justify;
	overflow: hidden;
	z-index: 0;
	margin: 0px auto 0 auto;
}
.genre img:hover {
	opacity: 0;
}
input,textarea,.uneditable-input {
	width: auto;
}
.search-query {

max-width: 80px;
}
.black {
background-color: #ccc;
height: 310px;
}
a>legend {
font-size: 12px;
line-height: 12px;
border:0px;
}
a .img_newsletter {
margin: 5px 0 5px 0;
}

.navbar .brand {
	padding: 0px 20px 0px;
}


.img-front {
	max-height: 300px;
}

.row-fluid-ce {
	min-height: 100px;
}

.row-fluid [class*="span"] {
	margin-right: 0px;
	margin-left: 0px;
}

.footer {
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	height: 11px;
	padding-top: 5px;
}

.links a {
	padding: 2px;
	color: #000;
}
.featured-wrapper {
font-family:Lato;
font-weight: light;
position: absolute;
color: #000;
z-index: 9;
height: 30px;
background-color: rgba(255, 255, 255, 0.5);
background-repeat: no-repeat;
background-position: top left;
background-image: url('/media/img/slash_first.png');
display: block;
}

.featured-wrapper-4 {

width: 299px;

}

.featured-wrapper-7 {

width: 540px;

}
.featured-wrapper p {
padding: 0px;
margin-left: 25px;
line-height: 15px;
}
.donator {
    border: 0px;
    margin-left: 0px;
    float: right;

}
.article {
    margin: 30px 5px 30px 5px;
    font-size: 17px;
    font-weight: 300;
    text-align: justify; text-justify: newspaper;
}
.article_performance {
    padding: 0px 15px 0px 0px;
    font-size: 17px;
    font-weight: 300;
    text-align: justify; text-justify: newspaper;
}
.genre_list {
    font-family: Lato;
    position: absolute;
    bottom: 0;
}
.thumbnail {
    padding: 0px;
    border: 0px;
    border-radius:0px;
}
h1,h2,h3 { 

font-family: Lato;
font-weight: 300;
}
h3 {

text-align: center;
#background-color: rgba(45, 44, 44, 0.3);
#padding: 5px;
font-size: 16px;
line-height: 16px;
}
p {
    text-align: justify; text-justify: newspaper;
    #color: #000;
}
.news_list {
    padding: 5px;
}
.medias img {
    width:100%;
}


strong {
    font-weight: 400;
    font-style: italic;
}
.calendar_year {
    text-decoration: none;
    text-transform:uppercase;
    font-size: 22px;
}
